.text-change {
  color: rgb(71, 71, 71);
}

.text-change:hover {
  color: #e4a52a; /* Changing text color on hover */
}

.container-qa {
  max-width: 800px;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
